#main {
    background-color: #000000;
    font-family: Trebuchet MS, sans-serif;
    color: #FFFFFF;
    margin: 20px;
    padding: 20px;
}

.list {
    padding-left: 20px;
    margin: 8px;
    color:aquamarine;
    margin-left: 20px;
    
}

#list-header {
    font-size: 1.5rem;
    color: lightcoral;
    margin-bottom: 10px;
}

#paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: orange;
}

#subheader {
    font-size: 1.8rem;
    color: lightblue;
    margin-bottom: 10px;
}
#header {
    font-size: 2.5rem;
    color: yellow;
    margin-bottom: 15px;
}

body {
    background-color: #121212;
}

#heading4 {
    color: lightgreen;
    font-size: 1.2rem;
    font-family: Trebuchet MS, sans-serif;
}

#example-button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Trebuchet MS, sans-serif;
}
