body {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Trebuchet MS";

}
.typewriter {
    font-size: 48px;
    font-weight: bold;
    font-family: "Courier New";
    color: rgb(0, 204, 20);
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    letter-spacing: 0.3rem;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}
h1 {
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", sans-serif;
}

h1:hover {
    color: rgb(17, 17, 17);
}

.header {
    background-image: url("blackhole.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: 28%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 98.34%;
    z-index: 1000;
    position: absolute;
    padding: 0px 150px;
    float: right;
    height: 30%;
    user-select: none;
    

}
.header h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(255, 255, 255),
    0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
    margin: 0;
    position: absolute;
    top: 34%;
    lefT: 45%;
}
.cap {
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    position: absolute;
    bottom: 0;
    left: 90%;
    text-shadow: 2px 2px 2px rgb(48, 48, 48);
}
.opennav {
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: white;
}

.opennav:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: mintcream;
}
.header{
    transition: margin-left 0.4s ease;
    padding: 1rem;
}

.main {
    transition: margin-left 0.4s ease;
    padding: 1rem;
}


.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 50px 300px;
}
.about {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8rem;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
    margin-top: 300px;
    letter-spacing: 0.05rem;
    
}

.about .stg {
    background: rgb(250, 250, 250);
    color: rgb(0, 104, 106);
    font-size: 1.5rem;
    font-family: "Courier New";
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(15, 15, 15));
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 0.4s ease;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 1px 0 10px rgb(255, 255, 255);
    overflow: visible;
    white-space: normal;
    overflow-y: auto;
}
/* Layout container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    padding: 0rem;
}

/* Individual card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    background-color: #000000;
    border: 2px solid #232323;
    border-radius: 12px;
    padding: 1.25rem;
    text-decoration: none;
    color: #cacaca;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.775);
    transition: all 0.2s ease-in-out;
}

/* Hover/active effects */
.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.835);
    border-color: rgba(0, 40, 40, 0.185);
}

/* Headings in cards */
.card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    color: #00b0b0;
    text-align: center;
}

/* Descriptions */
.card p {
    font-size: 0.95rem;
    line-height: 1.4;
}

.homes {
    display: flex;
    flex-direction: column;
    justify-content: none;
    background-color: rgb(21, 21, 21);
    border: 2px solid #cfcfcf;
    border-radius: 12px;
    padding: 1.25rem;
    text-decoration: none;
    color: #d5d5d5;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.838);
    transition: all 0.2s ease-in-out;
}

/* Hover/active effects */
.homes:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.855);
    border-color: rgb(0, 188, 188);
}

/* Headings in cards */
.homes h3 {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    color: #009b9b;
    text-align: center;
}

/* Descriptions */
.homes p {
    font-size: 0.95rem;
    line-height: 1.4;
}

.collapse {
    display: flex;
    flex-direction: column;
    justify-content: none;
    background-color: #000000;
    border: 2px solid #323232;
    border-radius: 12px;
    padding: 1.25rem;
    text-decoration: none;
    color: #d1d1d1;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.831);
    transition: all 0.2s ease-in-out;
}
.collapse:hover {
    transform: translateY(6px);
    cursor: pointer;
}
.collapse h4 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    color: #00a9a9;
    text-align: center;
}

.banner-container {
    margin: 100px;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

#scienceCanvas {
    width: 100%;
    height: 100%;
}

